.price-grafic {
    background-color: var(--backgroud-acept);
    border-radius: 6px;
    position: relative;
}
.price-grafic .white{
    padding-top: 10px;
    padding-left: 10px;
}


.price-grafic ul {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
    list-style: none;
    margin: 0;
    height: 40vh;
    overflow: hidden;
    contain: strict;
    border-top: 1px dotted white;
}

.price-grafic li {
    max-width: 5%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    border: 0.5px solid transparent;
    pointer-events: none;
    touch-action: none;
    flex-shrink: 0;
}

.price-grafic li.hover {
    height: 100%;
    display: flex;
    align-items: flex-end;
    border: 0.5px solid transparent;
    pointer-events: none;
    touch-action: none;
    flex-shrink: 0;
}

.price-grafic li::after {
    width: 2px;
    height: 100%;
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

.price-grafic li span {
    width: 100%;
    display: block;
    background: linear-gradient(180deg, #2C4DAB 0%, #5B956A 100%);
    position: relative;
    z-index: 1;
    pointer-events: none;
    touch-action: none;
}


.price-grafic li.hover::after {
    opacity: 0.9;
}

.price-grafic__line {
    position: absolute;
    top: 20px;
    width: 100%;
    border: 1px dotted grey;
}

.price-grafic__max {
    position: absolute;
    top: 20px;
    right: 0;
    transform: translateX(120%);
    color: white;
}
