/*TODO change*/
:root {
    --backgroud-color: rgb(31, 33, 40);
    --backgroud-acept: rgb(25, 27, 31);
    --backgroud-interactive-elements-ui: rgb(0, 0, 0);
    --backgroud-currency-up: rgb(39, 174, 96);;
    --backgroud-currency-down: rgb(253, 64, 64);
}
