.ListInput {
    margin-right: 20px;
}


.Search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}


.list-wrapper > div {

}


.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
}
