.ListInput {
    margin-right: 20px;
}

.Search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.select {
    margin-bottom: 10px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
}
