.selected {
  /*box-shadow: 10px 10px 5px grey;*/
}

.item {
  background-color: #dcdcdc;
  transition: transform 0.2s;
  cursor: pointer;
}

.item:not(.selected):hover {
  transform: scale(1.035);
}

.item.selected {
  /*transform: translateX(10px);*/
}


.close {
  position: absolute;
  right: 10px;
  top: 0;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.close:hover,.close:focus {
  color: #a17676;
  text-decoration: none;
  cursor: pointer;
}

.currency-item--decrease {
  background-color: #ff9393;
}

.currency-item--up {
  background-color: #beffb0;
}

.close:focus {
  outline: none;
}
.close:after {
  content: '\00d7';
  line-height: 1;
  font-size: 20px;
}


@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
